repos:
  - repo: local
    hooks:
      - id: ruff-format
        name: ruff (format)
        entry: ruff format
        language: python
        types: [python]
        additional_dependencies: [ruff]
      - id: ruff
        name: ruff (lint)
        entry: ruff check --fix
        language: python
        types: [python]
        additional_dependencies: [ruff]